[profile.default]
src = "src"
test = "test"
script = "script"
out = "out"
libs = ["lib"]
solc_version = "0.8.25"
auto_detect_solc = false
optimizer = true
optimizer_runs = 200
evm_version = "cancun"

[fmt]
line_length = 100
bracket_spacing = true
int_types = "long"
quote_style = "double"
number_underscore = "thousands"

[[profile.default.fs_permissions]]
access = "read-write"
path = "../envs"
